<div class="sidebar-content">
    {% if app.user %}
        <p>Bienvenue, {{ app.user.nom }}</p>
    {% else %}
        <p>Veuillez vous connecter</p>
        <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
    {% endif %}
    
    <ul>
        {% for matiere in matieres %}
            <li>{{ matiere.nom }}</li>
        {% else %}
            <li>Aucune matière disponible.</li>
        {% endfor %}
    </ul>
        {% if app.user %}
        <form action="{{ path('app_logout') }}" method="post" class="logout-form">
            <button type="submit" class="btn btn-danger">Déconnexion</button>
        </form>
    {% endif %}
</div>
